<div id="elections" data-header="Εκδόσεις">
	{% if header %}
	<div class="template_header">
		{{header}}
	</div>
	{% endif %}
	
	<div class="election_entry">
		<a href="http://ergatiki.gr/" >
			<img src="images/elections/1130.jpg"  />
			<span class="subtitle">Εργατική Αλληλεγγύη</span>
		</a>
	</div>
	<div class="election_entry">
		<a href="http://socialismfrombelow.gr/">
		<!-- a href="http://ergatiki.gr/article.php?issue=1181&id=12080" -->
			<img src="images/elections/sak111.jpg">
                        <!-- img src="images/general/COVER%20SAK%20110%20p01.jpg" -->
			<span class="subtitle">Σοσιαλισμός απο τα κάτω</span>
		</a>
	</div>
	<div class="election_entry">
		<a href="http://www.marxistiko.gr/product/%CE%B7-%CF%80%CE%AC%CE%BB%CE%B7-%CE%B5%CE%BD%CE%AC%CE%BD%CF%84%CE%B9%CE%B1-%CF%83%CF%84%CE%B7%CE%BD-%CE%B9%CF%83%CE%BB%CE%B1%CE%BC%CE%BF%CF%86%CE%BF%CE%B2%CE%AF%CE%B1/" >
			<img src="images/elections/ISLAMOPHOBIA.jpg">
			<span class="subtitle">Βιβλιοπαρουσίαση</span>
		</a>
	</div>
</div>
