<div id="header">
	<a href="http://sekonline.gr" class="sekonline_image"></a>
	<a href="http://sekonline.gr" class="sek_image"></a>
	<div class="menu_container">
		<div class="home menu_element" data-href="/">Αρχική</div>
		<div class="sek menu_element">
			<a href="#">ΣΕΚ</a>
			<div class="menu_items">
				<div class="menu_item" data-id="46">Παλεύουμε για</div>
				<div class="menu_item" data-href="member.php">Γίνε μέλος</div>
			</div>
		</div>
		<div class="events menu_element" data-id="51">Εκδηλώσεις</div>
		<div class="theory menu_element">
			<a href="#">Θεωρία</a>
			<div class="menu_items">
				<div class="menu_item" data-id="52">Άρθρα</div>
				<div class="menu_item" data-id="6">Read in other languages</div>
			</div>
		</div>
		<div class="materials menu_element">
			<a href="#">Υλικά</a>
			<div class="menu_items">
				<!-- <div class="menu_item">Φωτογραφίες</div> -->
				<div class="menu_item" data-href="http://sekonline.gr/article.php?id=34">Κείμενα υπογραφών - Ντουντουκοκείμενο</div>
                                <div class="menu_item" data-href="http://sekonline.gr/article.php?id=84">Προκηρύξεις</div>
				<!-- <div class="menu_item">Τρικάκια</div> -->
			</div>
		</div>
		<div class="links menu_element">
			<a href="#">Σύνδεσμοι</a>
			<div class="menu_items">
			
				<div  class="menu_item" data-href="http://ergatiki.gr/">Εργατική Αλληλεγγύη</div>
				<div  class="menu_item" data-href="http://socialismfrombelow.gr/">Σοσιαλισμός απο τα κάτω</div>
				<div  class="menu_item" data-href="http://www.antarsya.gr/">ΑΝΤ.ΑΡ.ΣΥ.Α.</div>
				<div  class="menu_item" data-href="http://www.antiracismfascism.org/">Κ.Ε.Ε.Ρ.Φ.Α.</div>
				<div  class="menu_item" data-href="http://jailgoldendawn.com/">JailGoldenDawn Για την Πολιτική Αγωγή του αντιφασιστικού κινήματος</div>
				<div  class="menu_item" data-href="http://syntonismoskd.blogspot.gr/">Συντονισμός ενάντια σε κλεισίματα και διαθεσιμότητες</div>
				<div  class="menu_item" data-href="http://www.ergatikiantistasi.blogspot.gr/">Συνάντηση Εργατικής Αντίστασης</div>
				<div  class="menu_item" data-href="http://i-taksi-mas.blogspot.gr/">Η Τάξη μας</div>
				<div  class="menu_item" data-href="http://www.pgnysteri.blogspot.gr/">Πρωτοβουλία Γένοβα Νυστέρι</div>
				<div  class="menu_item" data-href="http://financialcrimesnews.blogspot.gr/">Financial Crimes</div>
				<div  class="menu_item" data-href="http://www.marxistiko.gr/index.php">Μαρξιστικό Βιβλιοπωλείο</div>
				<div  class="menu_item" data-href="https://www.swp.org.uk/">Socialist Workers Party</div>
				<div  class="menu_item" data-href="http://www.isj.org.uk/">International Socialism</div>
				<div  class="menu_item" data-href="http://internationalsocialists.org/wordpress/">Διεθνής Σοσιαλιστική Τάση</div>
				<div  class="menu_item" data-href="http://www.wd-ist.org/">Εργατική Δημοκρατία</div>
				<div  class="menu_item" data-href="http://epitropiallileggyis.blogspot.gr/">επιτρ. Αλληλεγγύης Συνδικαλιστών και Συνδικάτων</div>
				<div  class="menu_item" data-href="http://ekedde.wordpress.com/">Κίνηση για τις Ελευθερίες και τα Δημοκρατικά Δικαιώματα της Εποχής μας</div>

			</div>
		</div>
		<div class="books menu_element">
			<a href="#">Βιβλιοθήκη</a>
			<div class="menu_items">
				<div class="menu_item" data-id="53">Βιβλιοπαρουσιάσεις</div>
				<div class="menu_item" data-href="http://sekonline.gr/article.php?id=174">Διεθνή</div>
				<div class="menu_item" data-href="http://sekonline.gr/article.php?id=33">Συνεντεύξεις</div>
				<div class="menu_item" data-href="http://sekonline.gr/article.php?id=54">Θέατρο-Σινεμά</div>

				<!-- http://sekonline.gr/article.php?id=174 -->
				<!-- <div class="menu_item">Αναδημοσιεύσεις</div> -->
			</div>
		</div>
		<div class="contact menu_element" data-id="48">Επικοινωνία</div>
		<div class="search menu_element">
		<form action="search.php" method="GET">
			<input name="search_words" type="text" class="search_box" value="Αναζήτηση"  onfocus="this.value='';"  onblur="this.value='Αναζήτηση';">
		</form>
		</div>
	</div>
</div>