#financial p{
	font-family:"Times New Roman";
	font-size:14px;
}

#financial #amount {
	height: 20px;
	width: 80px;
    background-color: #D7EFFF; 
    border: solid 1px #646464; 
    outline: none; 
    padding: 2px 2px; 
} 

#financial #amount:hover { 
    background-color: #FF0; 
} 

#financial #amount:focus { 
    background-color: #6FFF62; 
} 

#financial #amount:active { 
    background-color: #EB8D00; 
}

#financial .submit {
	border: none;
background: url('../../images/paypal.gif') no-repeat;
width: 73px;
height: 45px;
padding: 0px 0 4px 0;
font-size: 10px;
cursor: pointer;
position: relative;
float: right;
right: 17px;
top: -10px;
color: transparent;
}