{% extends "base.html" %}


{% block body %}
	<div id="main_wrapper">
		
	<div id="main">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Slideshow</a></li>
				<li><a href="#tabs-2">Videos</a></li>
				<li><a href="#tabs-3">Άρθρα</a></li>
				<li><a href="#tabs-4">Scroller</a></li>
				<li><a href="#tabs-5">Μεσαία στήλη</a></li>
				<li><a href="#tabs-6">Φωτογραφίες</a></li>
				<li><a href="#tabs-7">Ανέβασμα Αρχείων</a></li>
			</ul>
			<div id="tabs-1">
				<form id="slideshow_form" action="./private/save.php" enctype="multipart/form-data" method="POST">
					<input type="hidden" name="method" value="slideshow" />
					{% for slide in news|slice(0,5)%}
					<fieldset>
						<legend>{{loop.index}}η φωτογραφία</legend>
						<img id="preview{{loop.index}}" src="../../images/slideshow/s{{loop.index}}.jpg" style="width: 250px; " />
						<input type="file" id="photo{{loop.index}}" name="photo{{loop.index}}[]" value="../images/slideshow/s{{loop.index}}.jpg"/>
						<label>Τίτλος</label><input type="textarea" id="title{{loop.index}}" name="title{{loop.index}}" value="{{slide.desc}}"/>
						<label>Σύνδεσμος</label><input type="textarea" id="link{{loop.index}}"  name="link{{loop.index}}" value="{{slide.src}}"/>
					</fieldset>	
					{% endfor %}
					<fieldset> 
						<legend>Γενικές ρυθμίσεις</legend>
						<label>Χρόνος εναλλαγής (sec)</label><input type="number" id="time" name="time" min="5" max="20" value="7" title="Minimu 5,maximum 20"/>
					</fieldset>
					<div class="button_wrapper"><button type="submit">Submit</button></div>
				</form>
			</div>
			<div id="tabs-2">
				<form id="video_form" action="./private/save.php" method="POST">
					<input type="hidden" name="method" value="videos" />
					<div class="button_wrapper"><button type="submit">Submit</button></div>
				</form>
				<button class="add_video">Add video</button>
			</div>
			<div id="tabs-3">
				<form id="article_form" action="./private/save.php" enctype="multipart/form-data" method="POST">
					<input type="hidden" name="method" value="article" />
					<input type="text" id="article_id" name="article_id"/> Article ID <button type="button" class="getArticle">Get it</button>
					<div class="article">
						<input type="file" id="art_image" name="art_image" />
						<img class="article_image" /><div class="title_div"><label>Τίτλος</label><input type="textarea" id="article_title" name="article_title" /></div>
						<!-- <div class="link_div"><label>Link</label></div> -->
						<input type="hidden" id="article_link" name="article_link"  />
						<label class="article_type_label">Τύπος</label>
						<select id="article_type" name="article_type">
							<option value="politics">πολιτική</option>
							<option value="act">δράση</option>
							<option value="menu_item">μενού</option>
						</select>
						<textarea id="article_body" name="article_body"></textarea>
					</div>
					<div class="button_wrapper"><button type="submit">Submit</button></div>
				</form>
			</div>
			<div id="tabs-4">
				<form id="article_scroller" action="./private/save.php" method="POST">
					<input type="hidden" name="method" value="scroller" />
					<div class="topics">
						{% for topic in topics %}
							<div class="topic_row"> 
								<div class="link_div"> 
									<div class="topic_no">{{ loop.index0 }}</div> 
									<label>Σύνδεσμος</label> 
									<input type="textarea" id="topic_link{{ loop.index0 }}" name="topic_link{{ loop.index0 }}"  value="{{topic.src}}"/> 
								</div> 
								<div class="title_div"> 
									<label>Τίτλος</label> 
									<input type="textarea" id="topic_text{{ loop.index0 }}" name="topic_text{{ loop.index0 }}" value="{{topic.title}}" /> 
								</div> 
							</div>
						{% endfor %}
					</div>
					<div class="button_wrapper"><button type="submit">Save</button></div>
				</form>
			</div>
			<div id="tabs-5">
				<form id="general" action="./private/save.php"  enctype="multipart/form-data"  method="POST">
					<input type="hidden" name="method" value="new_middle" />
					<div class="general">
						<fieldset>
							<legend>Νέο περιεχόμενο</legend>
							<img id="imgPreview" src="../../images/slideshow/no_image.png" style="width: 250px;" />
							<input type="file" id="general1" name="general1"/>
							<label>Τίτλος</label><input type="textarea" id="generalTitle1" name="generalTitle1" />
							<label>Σύνδεσμος</label><input type="textarea" id="generalLink1" name="generalLink1"/>
							<label style="width: 29%;top: 15px;">Τύπος</label>
							<select id="generalType" name="generalType">
								<option value="general">κανονικό</option>
								<option value="tar">αρχείο</option>
							</select>
						</fieldset>	
					</div>
					<div class="button_wrapper"><button type="submit">Update</button></div>
				</form>
				<form id="general_edit"  action="./private/save.php"  enctype="multipart/form-data"  method="POST">
					<input type="hidden" name="method" value="update_middle" />
					<fieldset>
						<legend>Επεξεργασία περιεχομένου</legend>
						<div class="middle_preview">
							{% for a in generals %}
							<div class='general_div'>
								<a href='{{a.link}}'><img src='../{{a.img}}'>{{a.title}}</a>
								<input type="checkbox" name="delete{{loop.index0}}" value="{{a.id}}">Delete<br>
								<input type="checkbox" name="update{{loop.index0}}" value="{{a.id}}">Update<br>
								<input type="text" name="title{{a.id}}" value="{{a.title}}">Title<br>
								<input type="text" name="priority{{a.id}}" value="{{a.back1}}">Priority<br>
								<input type="text" name="link{{a.id}}" value="{{a.link}}">Link<br>
								<label style="width: 29%;top: 3px;">Τύπος</label>
								<select id="type{{a.id}}" name="type{{a.id}}">
									<option value="general" {% if a.back2 == "general" %} selected="selected"{% endif %}>κανονικό</option>
									<option value="tar"  {% if a.back2 == "tar" %} selected="selected"{% endif %}>αρχείο</option>
								</select>
							</div>
							<!-- $sc.append('<input type="file" id="'+a.id+'" name="image'+a.id+'" />'); -->
							{% endfor %}
						</div>
						<div class="button_wrapper"><button type="submit">Save</button></div>
					</fieldset>	
				</form>
			</div>
			<div id="tabs-6">
				<form id="photos" action="./private/save.php"  enctype="multipart/form-data"  method="POST">
				<input type="hidden" name="method" value="photos" />
					<div id="photo_albums_list">
					</div>
					<div class="chosen_image_wrapper">
						<img class="chosen_image" src="images/slideshow/no_image.png"/>
					</div>
					<div class="photo_album">
						Ανέβασμα album φωτογραφιών<input type="file" id="zip_file" name="zip_file"/>
						<div class="button_wrapper"><button type="submit">Upload</button>
						</div>
					</div>
				</form>
			</div>
			<div id="tabs-7">
				<form id="general_files" action="./private/save.php"  enctype="multipart/form-data"  method="POST">
					<input type="hidden" name="method" value="general_files" />
					<div>Κειμενο υπογραφών<input type="file" id="ypografes_file" name="ypografes_file"/></div>
					<div>Ντουντουκοκείμενο<input type="file" id="ntou_file" name="ntou_file"/></div>
					<div>Εξώφυλλο ΕΑ<input type="file" id="ea_file" name="ea_file"/></div>
					<div>Άλλο αρχείο<input type="file" id="general_file" name="general_file"/></div>				
					<button type="submit">Upload</button>
				</form>	
			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block styles %}
<link rel="shortcut icon" href="images/fist-favicon.ico" />
<link rel="stylesheet" type="text/css" href="../assets/css/admin.layout.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/admin.main.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/header.css" />
<link rel="stylesheet" type="text/css" href="../assets/js/libs/jqueryFileTree/jqueryFileTree.css" />
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="../assets/js/libs/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="../assets/js/libs/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/ICanHaz.min.js"></script>
<script type="text/javascript" src="../assets/js/libs/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="../assets/js/news.main.js"></script>
<script type="text/javascript" src="../assets/js/libs/jqueryFileTree/jqueryFileTree.js"></script>

<script type="text/javascript" src="../assets/js/admin.main.js"></script>
<script type="text/javascript" src="../assets/js/header.main.js"></script>
<script type="text/javascript">
	$(document).ready( function( ){
		var Admin = new admin( );
		var Header = new header( );
		var News = new news( );

		Admin.init();
		News.load({ url:"" })
		tinyMCE.init( {selector:'#article_body',
			height : '390',
			plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

			// Theme options
			theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
			theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
			theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_statusbar_location : "bottom",
			theme_advanced_resizing : false,

			// Drop lists for link/image/media/template dialogs
			template_external_list_url : "lists/template_list.js",
			external_link_list_url : "lists/link_list.js",
			external_image_list_url : "lists/image_list.js",
			media_external_list_url : "lists/media_list.js",

			// Style formats
			style_formats : [
				{title : 'Bold text', inline : 'b'},
				{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
				{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
				{title : 'Example 1', inline : 'span', classes : 'example1'},
				{title : 'Example 2', inline : 'span', classes : 'example2'},
				{title : 'Table styles'},
				{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
			],

			// Replace values for the template plugin
			template_replace_values : {
				username : "Some User",
				staffid : "991234"
			}
		});
		Header.init({ });

		$('#photo_albums_list').fileTree({ 
			root: 'sekonline/images/albums/',
			script: 'http://localhost/sekonline/private/jqueryFileTree.php'
		}, function(file) {
			$('.chosen_image').attr('src',file);
		});
	} );
</script>
{% endblock %}

