{% extends "base.html" %}

{% block head %}
	<title>{{article.title|raw}}</title>
	<meta property="og:title" content="{{article.title|striptags}}"/>
	<meta property="og:url" content="http://sekonline.gr/article.php?id={{article.id}}"/>
	<meta property="og:image" content="{{article.img}}" />
	<meta property="og:description" content="{{article.body|striptags|truncate(200)}}" />
	<meta property="og:type" content="article" />
	<meta property="article:published_time" content="{{article.date}}" />
	<meta property="article:author" content="sekonline.gr" />
{% endblock %}

{% block body %}
<div id="main_wrapper">
	<div id="main">
		<div class="article">
			<img class="article_image" src="{{article.img}}" />
			<div class="article_title">{{article.title|raw}}</div> 
			<div class="article_body">{{article.body|raw}}</div>
		</div>
	</div>
</div>
{% endblock %}

{% block styles %}
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,greek' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/layout.css">
	<link rel="stylesheet" type="text/css" href="assets/css/header.css">
	<link rel="stylesheet" type="text/css" href="assets/css/article.layout.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/article.main.css" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="assets/js/libs/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/underscore-min.js"></script>
	
	<!-- <script type="text/javascript" src="assets/js/combined_js_files.js"></script> -->
	<script type="text/javascript" src="assets/js/articles.main.js"></script>
	<script type="text/javascript" src="assets/js/header.main.js"></script>

	<script type="text/javascript">

		$(document).ready( function( ){
			var Articles = new articles( );
			var Header = new header( );

			$politics_root = $('#politics');
			$act_root = $('#act');

			Articles.init( { url: "private/load.php" , type: "politics", "root":$politics_root} );
			Header.init({ });

		} );
	</script>	
{% endblock %}