{% extends "base.html" %}

{% block body %}
<div id="main_wrapper">
	<div id="main">
		<form id="become_member" method="POST" onsubmit="return validateForm()" action="private/become_member.php">
			<h1>Θέλω να γίνω μέλος στο ΣΕΚ</h1>
			<div class="member_info">
				<div class="label">Όνομα *</div>
				<input type="text" class="input_field" name="name" />
				<div class="label">Επώνυμο *</div>
				<input type="text" class="input_field" name="surname" />
				<div class="label">E-mail</div>
				<input type="text" class="input_field" name="email" />
				<div class="label">Διεύθυνση</div>
				<input type="text" class="input_field" name="address" />
				<div class="label">Περιοχή/Τ.Κ. *</div>
				<input type="text" class="input_field" name="area" />
				<div class="label">Νομός/Πόλη</div>
				<input type="text" class="input_field" name="city" />
				<div class="label">Τηλέφωνο *</div>
				<input type="text" class="input_field" name="tel" />
				<div class="label">Κινητό</div>
				<input type="text" class="input_field" name="mobile" />
				<div class="label">Ιδιότητα</div>
				<input type="text" class="input_field" name="job" />
			</div>
			<div class="submit_wrapper">
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="assets/css/member.layout.css" />
<link rel="stylesheet" type="text/css" href="assets/css/member.main.css" />
<link rel="stylesheet" type="text/css" href="assets/css/header.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,greek' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="assets/js/header.main.js" />
<script type="text/javascript" charset="UTF-8">
	function validateForm( ){
		var name = $('.input_field[name="name"]').val();
		var surname = $('.input_field[name="surname"]').val();
		var tel = $('.input_field[name="tel"]').val();
		var area = $('.input_field[name="area"]').val();

		if( name=="" || surname=="" || tel=="" || area=="" ){
			alert("Please fill in all required fields.(with *)");
			return false;
		}
		return true;
	} 
</script>
<script type="text/javascript">
		$(document).ready( function( ){
			var Header = new header();
			Header.init({ });
		} );
</script>
{% endblock %}